html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin-top: 8em;
  font-size: 1.6em;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3E3B30;
  background: #EDEDED; }

.container {
  position: relative;
  width: 100%;
  min-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* Clearing */
.row {
  overflow: auto; }

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .three.columns {
    width: 22%; }

  .nine.columns {
    width: 74%; }

  .one-half.column {
    width: 48%; }

  /* Offsets */ }
a {
  color: inherit;
  text-decoration: none; }
  a.action {
    text-transform: uppercase;
    color: #C0BCBB; }

strong, h3 {
  font-weight: bold; }
  strong .amount, h3 .amount {
    color: #0C7BD5; }

h2 {
  font-size: 2.4rem;
  margin-bottom: 1em; }

.button {
  background: #DDDCDA;
  line-height: normal;
  padding: 1em 2em;
  display: inline-block;
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  text-align: center; }
  .button.squared {
    box-shadow: none;
    text-transform: uppercase;
    background: #C0BCBB;
    border-radius: 0; }
  .button.blue {
    background: #0C7BD5; }
  .button.teal {
    background: #1F80A6; }
  .button.yellow {
    background: #FAC24E;
    color: #3E3B30; }
  .button.circle {
    border-radius: 50%;
    width: 3em;
    padding: 1.4rem 0 0 0;
    height: 3em;
    background: #37475E; }

button,
input,
input[type="submit"],
input[type="reset"],
input[type="button"],
textarea {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  background: #EDEDED;
  border-radius: 0.5rem;
  border: 1px solid #EDEDED; }
  button:active, button:focus,
  input:active,
  input:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  textarea:active,
  textarea:focus {
    border-color: #DDDCDA;
    outline: none; }

.small {
  font-size: 1.2rem; }

select {
  min-width: 11em;
  -webkit-appearance: initial;
  background: none;
  border: none;
  outline: none; }

.dropdown {
  position: relative; }
  .dropdown:after {
    content: ">";
    display: block;
    position: absolute;
    top: 0;
    right: 0; }

.tag {
  background: #1F80A6;
  padding: 0.1em 0.5em 0.2em;
  border-radius: 5px;
  color: white; }
  .tag.blue {
    background: #0C7BD5; }
  .tag.yellow {
    background: #FAC24E;
    color: #3E3B30; }

p.tag {
  display: inline-block; }

.text-button {
  text-transform: uppercase;
  color: #C0BCBB; }
  .text-button.blue {
    color: #0C7BD5; }

hr {
  border: 1px solid #DDDCDA;
  margin: 2em 0; }

.ellipsis, .card .incharge,
.card .deliver {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; }

.modal {
  background: white;
  position: relative;
  max-width: 50rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  color: #37475E; }
  @media (min-width: 400px) {
    .modal {
      margin: 10% auto;
      width: 85%;
      padding: 0; } }
  @media (min-width: 550px) {
    .modal {
      width: 80%; } }
  .modal .head, .modal .content {
    padding: 2rem; }
    @media (min-width: 400px) {
      .modal .head, .modal .content {
        padding: 2rem 4rem; } }
  .modal .head {
    background: #1F80A6;
    padding-top: 4rem;
    padding-bottom: 3.4rem; }
  .modal .social {
    margin: 1em 0 2em; }
    .modal .social a {
      margin-right: 1em; }
  .modal .alert {
    color: #D61D37; }
  .modal .manual {
    position: relative;
    overflow: auto;
    margin-bottom: 1em; }
    .modal .manual a.action {
      position: absolute;
      top: 0;
      right: 0;
      text-align: center; }
    .modal .manual form {
      margin-top: 1em; }
    .modal .manual .small {
      position: relative;
      top: 1em; }
    .modal .manual .button {
      float: right; }

.login .modal input {
  width: 100%;
  margin-bottom: 1em; }

.sidebar {
  position: relative;
  background: white;
  padding: 1em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }
  .sidebar .details {
    font-size: 1.4rem; }
  .sidebar li {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 0.1rem solid #DDDCDA; }
    .sidebar li:last-child {
      padding-bottom: 1em;
      border-bottom: none; }
  .sidebar .search {
    padding: 0 !important;
    position: relative; }
    .sidebar .search input {
      background: none;
      border: none;
      padding: 2rem; }
    .sidebar .search button {
      padding: initial;
      background: none;
      border: none;
      position: absolute;
      top: 2rem;
      right: 2rem; }
  .sidebar.searchable {
    padding-top: 5em; }
  .sidebar > .search {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid lightgray; }
  .sidebar .actions {
    text-align: center;
    margin-top: 4em; }
    .sidebar .actions .loading {
      color: #DDDCDA; }
    .sidebar .actions a.button {
      width: 100%;
      margin-top: 1em; }
  .sidebar.filter {
    padding: 0; }
    .sidebar.filter li {
      padding: 2rem;
      margin-bottom: 0; }
    .sidebar.filter .calendar {
      position: relative; }
      .sidebar.filter .calendar .title {
        text-align: center;
        position: relative;
        z-index: 2; }
        .sidebar.filter .calendar .title a:nth-child(1) {
          float: left; }
        .sidebar.filter .calendar .title a:last-child {
          float: right; }
    .sidebar.filter select {
      width: 100%; }
    .sidebar.filter .actions {
      padding: 2em 1rem;
      color: lightgray; }
  .sidebar .results .tag {
    margin: 0 0.8rem 1rem 0;
    display: inline-block;
    background: lightgray; }
  .sidebar .results .active {
    background: #1F80A6; }

.month {
  background: lightgray;
  position: absolute;
  width: 94%;
  top: 0.6rem;
  left: 3%;
  z-index: 1;
  padding: 6em 1.5em 2em;
  font-size: 1.2rem; }
  .month table {
    width: 100%; }
    .month table .activity {
      font-weight: bold;
      color: #0C7BD5; }
  .month th, .month td {
    text-align: center;
    padding: 0.5rem 0 0; }
  .month thead th {
    font-weight: bold; }

.stats {
  margin-bottom: 2em; }

.stat {
  width: 8em;
  display: inline-block;
  text-align: center; }
  .stat .number {
    background: gray;
    display: inline-block;
    font-size: 3em;
    height: 2em;
    width: 2em;
    text-align: center;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    padding-top: 0.15em; }
  .stat h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 0.5em; }

.circle.profiles {
  width: 10%;
  height: 2em; }
  .circle.profiles img {
    width: 100%;
    height: 100%; }
  .circle.profiles > div {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    width: 4.2rem;
    height: 4.2rem;
    border: 2px solid white;
    z-index: 2; }
  .circle.profiles div:nth-child(2) {
    opacity: 0.5;
    left: 1.6em;
    z-index: 1; }

.attending.profiles {
  margin-bottom: 1em;
  overflow: auto; }
  .attending.profiles a {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    width: 5em; }
  .attending.profiles img {
    border-radius: 50%; }
  .attending.profiles .add {
    color: #C0BCBB; }
    .attending.profiles .add img {
      border: 1px dashed #C0BCBB; }

.cards .card {
  margin-bottom: 1em; }

.card {
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: white;
  position: relative;
  overflow: auto;
  min-height: 9rem; }
  .card > a {
    display: block; }
    .card > a > div {
      position: relative;
      float: left;
      vertical-align: top;
      padding: 1em 0 0 1em; }
  .card .title {
    width: 35%; }
  .card .details, .card .icons {
    font-size: 1.4rem;
    padding-top: 1.3em; }
  .card .details {
    width: 25%; }
  .card .icons {
    width: 20%; }
    .card .icons img {
      vertical-align: text-bottom; }
    .card .icons > div {
      display: inline-block;
      margin-right: 1rem; }
      .card .icons > div:last-child {
        margin-right: 0; }
  .card .checkbox {
    width: 10%;
    text-align: right;
    padding-right: 1em;
    position: absolute;
    right: 2rem; }
    .card .checkbox .square {
      border: 3px solid #DDDCDA;
      width: 2em;
      height: 2em;
      border-radius: 5px;
      display: inline-block; }
  .card.overdue {
    border: 2px solid #D61D37; }
    .card.overdue .square {
      border-color: #D61D37; }
    .card.overdue .deliver {
      color: #D61D37; }
  .card.done .title, .card.done .details, .card.done .icons {
    color: #C0BCBB; }
  .card.done:before {
    background: #9AD102; }
    .card.done:before .checkbox .square {
      border-color: #9AD102; }
  .card:before {
    content: "";
    position: absolute;
    width: 2em;
    height: 100%;
    left: 0; }
  .card.single .profiles > div {
    width: 5rem;
    height: 5rem; }
  .card.meeting .title {
    margin-left: 2em;
    width: 40%; }
  .card.meeting .details {
    width: 30%; }
  .card.meeting:before {
    background: #FAC24E; }
  .card.square {
    padding-bottom: 1em; }
    .card.square .title {
      width: 70%; }
    .card.square .profiles {
      width: 14%; }
    .card.square .details, .card.square .icons {
      margin-left: 14%;
      width: 80%; }
  .card.newtask .profiles {
    padding: 1em; }
  .card.newtask form {
    width: 80%;
    margin-left: 14%;
    padding-left: 1em;
    position: relative;
    top: -1em; }
  .card.newtask input {
    width: 80%;
    margin-bottom: 0.5em; }
    .card.newtask input.text-button {
      background: none;
      border: none;
      width: initial;
      padding-left: 0;
      padding-right: 0;
      display: block; }

.loadcard {
  background: lightgray;
  color: gray;
  text-align: center;
  margin-bottom: 2em;
  padding: 1em 2em;
  border-radius: 5px; }

.task.title {
  position: relative;
  padding-left: 4em;
  margin-bottom: 2em; }
  .task.title .circle.profiles {
    position: absolute;
    left: 0; }
    .task.title .circle.profiles div:nth-child(2) {
      left: 0.6em; }
  .task.title h1 {
    margin-bottom: 0; }

a.button.resolve {
  position: relative;
  padding-right: 3.5em; }
  a.button.resolve:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background: #DDDCDA;
    top: 0.8em;
    right: 1em;
    border: 2px solid white;
    border-radius: 0.5rem; }

.active-modal .overlay {
  position: fixed;
  background: rgba(55, 74, 107, 0.9);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 200; }

.modal {
  z-index: 201;
  padding: 1.4rem 2rem; }
  .modal.tooltip {
    border-radius: 0.5rem; }
  .modal#notifications {
    width: 40rem; }
  .modal#profile-stats .header {
    padding-left: 3.4em; }
  .modal#profile-stats {
    width: 24em; }
  .modal .header {
    border-bottom: 0.2rem solid #DDDCDA;
    padding-bottom: 1rem;
    margin-bottom: 1em; }
    .modal .header .circle.profiles {
      position: absolute;
      left: 2rem; }
  .modal a.close {
    position: absolute;
    width: 1em;
    height: 1em;
    top: 1.75em;
    right: 2rem; }
    .modal a.close:before, .modal a.close:after {
      width: 100%;
      content: "";
      border-top: 0.2rem solid #DDDCDA;
      display: block;
      transform: rotate(45deg);
      top: 0;
      left: 0;
      position: absolute; }
    .modal a.close:before {
      transform: rotate(-45deg); }
  .modal h2 {
    margin-bottom: 0.25em; }
  .modal .card {
    padding: 1rem;
    overflow: hidden; }
    .modal .card small, .modal .card .small {
      font-size: 1.2rem; }
    .modal .card .circle.profiles {
      position: absolute;
      left: 1rem; }
  .modal .actions {
    margin-top: 1em; }
    .modal .actions.single {
      text-align: center; }
  .modal .pending-confirm {
    margin-bottom: 2em; }
  .modal .stats {
    text-align: center;
    margin-bottom: 1em; }
  .modal .stat {
    width: 6em; }
    .modal .stat .number {
      background: none;
      color: #050504;
      line-height: 1em;
      height: initial;
      width: initial; }
    .modal .stat h4 {
      margin-top: 0; }
  .modal form {
    overflow: auto; }
    .modal form .profile.image {
      width: 8em;
      height: 8em;
      display: block;
      float: left;
      margin-right: 1em;
      overflow: hidden;
      border-radius: 50%;
      position: relative; }
      .modal form .profile.image input, .modal form .profile.image img {
        width: 100%;
        height: auto; }
    .modal form input[type="text"] {
      width: 60%;
      margin-bottom: 1em; }
    .modal form .profile.image input[type="file"] {
      display: none;
      position: absolute;
      -webkit-appearance: none;
      color: rgba(255, 255, 255, 0); }
  .modal.create {
    min-width: 86rem; }
    .modal.create h3 {
      margin-bottom: 0.5em; }
    .modal.create .container {
      min-width: initial;
      margin-top: 1em;
      margin-bottom: 1em; }
    .modal.create input[type="text"], .modal.create textarea {
      width: 100%;
      margin-bottom: 0.5em; }
    .modal.create .actions .text-button {
      float: right; }
  .modal .actions {
    border-top: 0.2rem solid #DDDCDA;
    padding: 1.4em 0 0; }

.activity.cards .card {
  padding-left: 4em; }

.search.invite {
  position: relative;
  background: #EDEDED;
  border-radius: 5px; }
  .search.invite.active {
    border: 0.1rem solid #DDDCDA; }
  .search.invite input {
    border: none;
    background: none;
    border-bottom: 0.1rem solid #DDDCDA;
    border-radius: 0; }
  .search.invite input[type="text"] {
    margin-bottom: 1.2em; }
  .search.invite button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none; }
  .search.invite .results.no-match {
    text-align: center;
    margin: 0.5em 0 1.75em; }
    .search.invite .results.no-match a img {
      border-radius: 50%;
      vertical-align: middle;
      position: relative;
      left: -0.5em; }

.wysiwyg.button-tray {
  background: #DDDCDA;
  display: inline-block;
  border-radius: 0.5rem;
  letter-spacing: 0;
  margin-bottom: 0.5em; }
  .wysiwyg.button-tray > a {
    padding: 0.5em 1em;
    display: inline-block;
    border-right: 0.1rem solid white; }
    .wysiwyg.button-tray > a:last-child {
      border: none; }
    .wysiwyg.button-tray > a.bold {
      font-weight: bold; }
    .wysiwyg.button-tray > a.italic {
      font-style: oblique; }

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 6em;
  padding: 2em; }
  header a.logo {
    float: left; }
  header.common {
    background: #374A6B; }
  header.blue {
    background: #0C7BD5; }
  header.yellow {
    background: #FAC24E; }
    header.yellow a {
      color: #3E3B30; }
      header.yellow a.current {
        border-color: #3E3B30; }
  header.teal {
    background: #1F80A6; }

nav {
  float: right; }
  nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 1em;
    height: 6em;
    position: relative;
    top: -2em;
    vertical-align: middle;
    padding-top: 2.25em; }
    nav a:last-child {
      margin-right: 0; }
    nav a.current {
      border-bottom: solid 0.3em white;
      font-weight: bold; }
  nav img {
    margin-top: -0.75em; }
  nav .alert {
    position: absolute;
    background: #D61D37;
    width: 1.5em;
    font-size: 0.75em;
    height: 1.5em;
    text-align: center;
    border-radius: 50%;
    right: -1em;
    top: 2em;
    color: white; }

body.login {
  background: #374A6B; }
  body.login .modal {
    padding: 0; }

body.detail-view {
  position: relative; }
  body.detail-view.meeting {
    background: rgba(12, 123, 213, 0.6); }

.drawer {
  min-width: 18em;
  width: 100;
  position: relative;
  height: 100vh;
  overflow: auto;
  background: white;
  top: 0;
  padding: 12rem 2em 0;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5); }
  @media (min-width: 550px) {
    .drawer {
      width: 33vw;
      position: fixed; } }
  @media (min-width: 1440px) {
    .drawer.left .wrap {
      margin-left: 34%; }
    .drawer.right .wrap {
      margin-right: 34%; } }
  .drawer h1 {
    font-size: 2.4rem;
    margin-bottom: 1em;
    line-height: normal; }
  .drawer h3 {
    margin-bottom: 1em; }
  .drawer .info .via {
    margin: 1em 0; }
    .drawer .info .via img {
      vertical-align: middle;
      margin-right: 0.5em; }
  .drawer .actions {
    margin: 2em auto 1em; }
  .drawer.right {
    right: 0;
    padding: 12.7rem 2em 0 1.5em; }

.comments {
  padding-bottom: 4em; }
  .comments .blank {
    border: 2px dashed #DDDCDA;
    color: #DDDCDA;
    padding: 1em 1.5em;
    text-align: center;
    margin-bottom: 2em; }
  .comments .profile.picture {
    border-radius: 50%;
    display: block;
    width: 4.2rem;
    height: 4.2rem;
    overflow: hidden;
    position: absolute;
    top: 0; }
    .comments .profile.picture img {
      width: 100%;
      height: auto; }
  .comments .message {
    position: relative;
    overflow: auto;
    margin-bottom: 2em;
    font-size: 1.4rem; }
    .comments .message.incomming .data {
      padding-left: 5rem; }
    .comments .message.outgoing {
      direction: rtl; }
      .comments .message.outgoing .data {
        padding-right: 5rem; }
    .comments .message .name {
      font-weight: bold; }
      .comments .message .name span {
        font-weight: initial;
        color: #DDDCDA;
        font-size: 1.2rem; }
    .comments .message .content {
      border: 1px solid #DDDCDA;
      padding: 0.5em 0.75em;
      border-radius: 5px;
      direction: ltr; }

.comment.reply {
  background: #DDDCDA;
  bottom: 0;
  right: 0;
  width: 100%; }
  @media (min-width: 550px) {
    .comment.reply {
      position: fixed;
      width: 33vw; } }
  .comment.reply input[type="text"] {
    width: 80%;
    padding-right: 0;
    border: none;
    background: none; }
  .comment.reply input[type="submit"] {
    padding-left: 0;
    padding-right: 0;
    float: right;
    width: 20%;
    background: none;
    border: none; }

@media (min-width: 550px) {
  .middle.tasks {
    margin: 12.7rem 35% 2em; } }
.middle.tasks h3 {
  margin-bottom: 1em; }

.meeting .middle.tasks h3, .meeting .middle.tasks .amount {
  color: white; }

.task .drawer.left .priority:before {
  content: "!";
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  margin-right: 0.5em;
  border-radius: 50%;
  background: #FAC24E;
  color: white;
  font-weight: bold;
  line-height: 1.7em; }
.task .drawer.left .priority.max:before {
  background: #D61D37; }
.task .drawer.left .info {
  line-height: 2.2em; }
.task .drawer.left .actions {
  text-align: right; }
.task .drawer.left .edit {
  margin-top: 0.9em;
  float: left; }
