html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6em;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3E3B30;
  background: #EDEDED; }

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .three.columns {
    width: 22%; }

  .nine.columns {
    width: 74%; }

  /* Offsets */ }
a {
  color: inherit;
  text-decoration: none; }

strong, h3 {
  font-weight: bold; }

h2 {
  font-size: 2.4rem;
  margin-bottom: 1em; }

.button {
  background: #DDDCDA;
  padding: 1em 2em;
  display: inline-block;
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  text-align: center; }
  .button.squared {
    box-shadow: none;
    text-transform: uppercase;
    background: #C0BCBB;
    border-radius: 0; }
  .button.blue {
    background: #0C7BD5; }
  .button.teal {
    background: #1F80A6; }
  .button.yellow {
    background: #FAC24E;
    color: #3E3B30; }
  .button.circle {
    border-radius: 50%;
    width: 3em;
    padding: 1.4rem 0 0 0;
    height: 3em;
    background: #37475E; }

a.action {
  text-transform: uppercase;
  color: #C0BCBB; }

button,
input,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  background: #EDEDED;
  border-radius: 0.5rem;
  border: 1px solid #EDEDED; }
  button:active, button:focus,
  input:active,
  input:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:active,
  input[type="button"]:focus {
    border-color: #DDDCDA;
    outline: none; }

.small {
  font-size: 1.2rem; }

header {
  height: 6em;
  padding: 2em; }
  header a.logo {
    float: left; }
  header.common {
    background: #374A6B; }

nav {
  float: right; }
  nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 1em;
    height: 6em;
    position: relative;
    top: -2em;
    vertical-align: middle;
    padding-top: 2.25em; }
    nav a:last-child {
      margin-right: 0; }
    nav a.current {
      border-bottom: solid 0.3em white;
      font-weight: bold; }
  nav img {
    margin-top: -0.75em; }
  nav .alert {
    position: absolute;
    background: #D61D37;
    width: 1.5em;
    font-size: 0.75em;
    height: 1.5em;
    text-align: center;
    border-radius: 50%;
    right: -1em;
    top: 2em; }

body.login {
  background: #374A6B; }

.modal {
  background: white;
  position: relative;
  max-width: 50rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  color: #37475E; }
  @media (min-width: 400px) {
    .modal {
      margin: 10% auto;
      width: 85%;
      padding: 0; } }
  @media (min-width: 550px) {
    .modal {
      width: 80%; } }
  .modal .head, .modal .content {
    padding: 2rem; }
    @media (min-width: 400px) {
      .modal .head, .modal .content {
        padding: 2rem 4rem; } }
  .modal .head {
    background: #1F80A6;
    padding-top: 4rem;
    padding-bottom: 3.4rem; }
  .modal .social {
    margin: 1em 0 2em; }
    .modal .social a {
      margin-right: 1em; }
  .modal .alert {
    color: #D61D37; }
  .modal .manual {
    position: relative;
    overflow: auto;
    margin-bottom: 1em; }
    .modal .manual a.action {
      position: absolute;
      top: 0;
      right: 0; }
    .modal .manual form {
      margin-top: 1em; }
    .modal .manual .small {
      position: relative;
      top: 1em; }
    .modal .manual .button {
      float: right; }

.login .modal input {
  width: 100%;
  margin-bottom: 1em; }

.sidebar {
  background: white;
  padding: 1em;
  margin-top: 2em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }
  .sidebar .details {
    font-size: 1.4rem; }
  .sidebar li {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 0.1rem solid #DDDCDA; }
    .sidebar li:last-child {
      padding-bottom: 1em;
      border-bottom: none; }
  .sidebar .actions a.button {
    width: 100%;
    margin-top: 1em; }

.stats {
  margin-bottom: 2em; }

.stat {
  width: 8em;
  display: inline-block;
  text-align: center; }
  .stat .number {
    background: gray;
    display: inline-block;
    font-size: 3em;
    height: 2em;
    width: 2em;
    text-align: center;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    padding-top: 0.15em; }
  .stat h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 0.5em; }

.cards .card {
  margin-bottom: 1em; }

.card {
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: white;
  position: relative;
  overflow: auto;
  min-height: 9rem; }
  .card a {
    width: 100%;
    height: 100%;
    position: absolute; }
    .card a > div {
      position: relative;
      float: left;
      vertical-align: top;
      padding: 1em 0 0 1em; }
  .card .profiles {
    width: 10%;
    height: 2em; }
    .card .profiles img {
      width: 100%;
      height: 100%; }
    .card .profiles > div {
      position: absolute;
      border-radius: 50%;
      overflow: hidden;
      width: 4.2rem;
      height: 4.2rem;
      border: 2px solid white;
      z-index: 2; }
    .card .profiles div:nth-child(2) {
      opacity: 0.5;
      left: 1.6em;
      z-index: 1; }
  .card .title {
    width: 35%; }
  .card .details, .card .icons {
    font-size: 1.4rem;
    padding-top: 1.3em; }
  .card .details {
    width: 25%; }
  .card .icons {
    width: 20%; }
    .card .icons img {
      vertical-align: text-bottom; }
    .card .icons > div {
      display: inline-block; }
  .card .incharge,
  .card .deliver {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; }
  .card .checkbox {
    width: 10%;
    text-align: right;
    padding-right: 1em; }
    .card .checkbox .square {
      border: 3px solid #DDDCDA;
      width: 2em;
      height: 2em;
      border-radius: 5px;
      display: inline-block; }
  .card.overdue {
    border: 2px solid #D61D37; }
    .card.overdue .square {
      border-color: #D61D37; }
    .card.overdue .deliver {
      color: #D61D37; }
  .card.done .title, .card.done .details, .card.done .icons {
    color: #C0BCBB; }
  .card.done:before {
    background: #9AD102;
    content: "";
    position: absolute;
    width: 2em;
    height: 100%;
    left: 0; }
  .card.done .checkbox .square {
    border-color: #9AD102; }
  .card.single .profiles > div {
    width: 5rem;
    height: 5rem; }

.loadcard {
  background: lightgray;
  color: gray;
  text-align: center;
  margin-bottom: 2em;
  padding: 1em 2em;
  border-radius: 5px; }
