//
//
// General Purpose Modules

a
	color: inherit
	text-decoration: none
	&.action
		text-transform: uppercase
		color: $gray

strong, h3
	font-weight: bold
	.amount
		color: $blue

h2
	font-size: 2.4rem
	margin-bottom: 1em

.button
	background: $lightgray
	line-height: normal
	padding: 1em 2em
	display: inline-block
	border-radius: $radius
	color: white
	box-shadow: $shadow
	text-align: center
	&.squared
		box-shadow: none
		text-transform: uppercase
		background: $gray
		border-radius: 0
	&.blue
		background: $blue
	&.teal
		background: $teal
	&.yellow
		background: $yellow
		color: $darkbrown
	&.circle
		border-radius: 50%
		width: 3em
		padding: 1.4rem 0 0 0
		height: 3em
		background: $darkblue

button,
input,
input[type="submit"],
input[type="reset"],
input[type="button"],
textarea
	display: inline-block
	padding: 1em
	text-decoration: none
	white-space: nowrap
	background: $whitegray
	border-radius: $radius
	border: 1px solid $whitegray
	&:active, &:focus
		border-color: $lightgray
		outline: none

.small
	font-size: 1.2rem

select
	min-width: 11em
	-webkit-appearance: initial
	background: none
	border: none
	outline: none

// input[type="radio"]:after {
//     content: '\00a0'
//     width: 1rem
//     background: black
//     height: 1rem
//     display: inline-block
//     border-radius: 50%
//     position: relative
//     top: .3rem


.nice
	&.dropdown.checkbox ul
		width: 100%
		background: $lightgray
		position: absolute
		padding: 1rem 0
		li
			padding: 1rem 2rem
			border: none
	.heightlimit
		display: none
		position: relative
		z-index: 3

.tick-button
	position: relative

input[type="checkbox"],
input[type="radio"]
	position: relative
	-webkit-appearance: none
	background: none
	border: .2rem solid
	width: 2rem
	height: 2rem
	text-align: center
	vertical-align: text-bottom
	margin-right: .2em
	&:checked + label:before
		content: ''
		display: inline-block
		background: $black
		border-radius: 4px
		width: 1rem
		height: 1rem
		position: absolute
		top: .7rem
		left: .5rem

input[type="radio"]
	+border-radius(50%)


.dropdown
	position: relative
	&:after
		content: url('../img/ic-arr.svg')
		display: block
		position: absolute
		top: 0
		right: 0

.tag
	background: $teal
	padding: .1em .5em .2em
	border-radius: 5px
	color: white
	position: relative
	&.red
		background: $red
	&.blue
		background: $blue
	&.yellow
		background: $yellow
		color: $darkbrown
	&p, &div
		display: inline-block
	&.solved
		display: inline-block
		background: $green
		color: white
		font-weight: bold
		padding: .4em 2em .4em .6em
		margin-bottom: 2em
		&:before
			content: ''
			background: white
			width: 1.4em
			height: 1.4em
			display: block
			position: absolute
			border-radius: $radius
			top: .6em
		img
			position: relative
			vertical-align: text-bottom
			margin: .1em .5em 0 0




.text-button
	text-transform: uppercase
	color: $gray
	&.blue
		color: $blue

hr
	border: 1px solid $lightgray
	margin: 2em 0

.ellipsis
	white-space: nowrap
	width: 100%
	overflow: hidden
	text-overflow: ellipsis

.priority-icon:before
	content: '!'
	display: inline-block
	width: 1.6em
	height: 1.6em
	text-align: center
	margin-right: .5em
	border-radius: 50%
	background: $yellow
	color: white
	font-weight: bold
	line-height: 1.7em
	-webkit-font-smoothing: antialiased

.priority.max:before
	background: $red








//
//
// Modal

.modal_placeholder
	overflow: visible
	height: 100%
	width: 100%
	display: block
	position: absolute
	top: 0
	left: 0

.modal
	background: white
	position: relative
	max-width: 50rem
	box-shadow: $shadow
	color: $darkblue
	@media (min-width: 400px)
		margin: 10% auto
		width: 85%
		padding: 0
	@media (min-width: 550px)
		width: 80%
	.head, .content
		padding: 2rem
		@media (min-width: 400px)
			padding: 2rem 4rem
	.head
		background: $teal
		padding-top: 4rem
		padding-bottom: 3.4rem
	.social
		margin: 1em 0 2em
		a
			margin-right: 1em
	.alert
		color: $red
	.manual
		position: relative
		overflow: auto
		margin-bottom: 1em
		a.action
			position: absolute
			top: 0
			right: 0
			text-align: center
		form
			margin-top: 1em
		.small
			position: relative
			top: 1em
		.button
			float: right

.login .modal input
	width: 100%
	margin-bottom: 1em







//
//
// Dashboard

.sidebar
	position: relative
	background: white
	padding: 1em
	box-shadow: $shadow
	.details
		font-size: 1.4rem
	li
		margin-bottom: 1em
		padding-bottom: 1em
		border-bottom: .1rem solid $lightgray
		&:last-child
			padding-bottom: 1em
			border-bottom: none
	.search
		padding: 0 !important
		position: relative
		input
			background: none
			border: none
			padding: 2rem
		button
			padding: initial
			background: none
			border: none
			position: absolute
			top: 2rem
			right: 2rem
	&.searchable
		padding-top: 5em
	> .search
		width: 100%
		position: absolute
		top: 0
		left: 0
		border-bottom: 1px solid lightgray
	.actions
		text-align: center
		margin-top: 4em
		.loading
			color: $lightgray
		a.button
			width: 100%
			margin-top: 1em
	&.filter
		padding: 0
		li
			padding: 2rem
			margin-bottom: 0
		.calendar
			position: relative
			.title
				text-align: center
				position: relative
				z-index: 2
				a:nth-child(1)
					float: left
					img
						transform: rotate(90deg)
				a:last-child
					float: right
					img
						transform: rotate(-90deg)
		select
			width: 100%
		.actions
			padding: 2em 1rem
			color: lightgray
	.results
		.tag
			margin: 0 .8rem 1rem 0
			display: inline-block
			background: lightgray
		.active
			background: #1F80A6

// Calendar

.month
	background: lightgray
	position: absolute
	width: 94%
	top: 0.6rem
	left: 3%
	z-index: 1
	padding: 6em 1.5em 2em
	font-size: 1.2rem
	table
		width: 100%
		.activity
			font-weight: bold
			color: $blue
	th, td
		text-align: center
		padding: .5rem 0 0
	thead th
		font-weight: bold









.stats
	margin-bottom: 2em

.stat
	width: 8em
	display: inline-block
	text-align: center
	.number
		background: gray
		display: inline-block
		font-size: 3em
		height: 2em
		width: 2em
		text-align: center
		color: white
		border-radius: 50%
		font-weight: bold
		padding-top: .15em
	h4
		font-size: 1.2rem
		text-transform: uppercase
		margin-top: .5em









//
//
// profiles
.circle.profiles
	width: 10%
	height: 2em
	img
		width: 100%
		height: 100%
	> div
		position: absolute
		border-radius: 50%
		overflow: hidden
		width: 4.2rem
		height: 4.2rem
		border: 2px solid white
		z-index: 2
		@media (max-width: 550px)
			margin-left: -.4em
	& div:nth-child(2)
		opacity: .5
		left: 1.6em
		z-index: 1


.attending.profiles
	margin-bottom: 1em
	overflow: auto
	a
		display: inline-block
		text-align: center
		font-size: 1.2rem
		width: 5em
	img
		border-radius: 50%
		width: 3em
		height: auto
	.add
		color: $gray
		img
			border: 1px dashed $gray








//
//
// Card


.blankbox
	border: 2px dashed $lightgray
	color: $lightgray
	padding: 1em 1.5em
	text-align: center
	margin-bottom: 2em

.cards
	.card
		margin-bottom: 1em
	&.task a.button
		font-size: 1.4rem
		padding: .65em 1.2em .6em
.card
	border-radius: $radius
	box-shadow: $shadow
	background: white
	position: relative
	overflow: auto
	min-height: 9rem
	> a
		// width: 100%
		// height: 100%
		// position: absolute
		display: block
		> div
			position: relative
			float: left
			vertical-align: top
			padding: 1em 0 0 1em
	.title
		width: 35%
	.details, .icons
		font-size: 1.4rem
		padding-top: 1.3em
	.details
		width: 25%
	.icons
		width: 20%
		img
			vertical-align: bottom
			margin-right: .2em
		> div
			display: inline-block
			margin-right: 1rem
			&:last-child
				margin-right: 0

	.incharge,
	.deliver
		@extend .ellipsis
	.checkbox
		width: 10%
		text-align: right
		padding: 1em 0 0
		position: absolute
		right: 2rem
		.square
			border: 3px solid $lightgray
			width: 2em
			height: 2em
			border-radius: 5px
			display: inline-block

	&.overdue
		border: 2px solid $red
		.square
			border-color: $red
		.deliver
			color: $red
	&.done
		.title, .details, .icons
			color: $gray
		&:before
			background: $green
			.checkbox .square
				border-color: $green
		.checkbox
			.square
				border-color: $green
				&:before
					content: url('../img/ic-task-done.svg')
					position: relative
					left: 0.1em
					top: -.1em
	&:before
		content: ''
		position: absolute
		width: 2em
		height: 100%
		left: 0
	&.single .profiles > div
		width: 5rem
		height: 5rem
	&.meeting
		.title
			margin-left: 2em
			width: 40%
		.details
			width: 30%
		&:before
			background: $yellow

	&.square
		padding-bottom: 1em
		.title
			width: 70%
		.profiles
			width: 14%
		.details, .icons
			margin-left: 14%
			width: 80%

	&.blank
		@extend .blankbox
		background: none
		box-shadow: none
		min-height: inherit

	@media (max-width: 550px)
		padding-bottom: 1em
		.title
			width: 70%
		.profiles
			width: 14%
		.details, .icons
			margin-left: 14%
			width: 80%


	@media (max-width: 400px)
		&.done
			.title, .details, .icons
				padding-left: 4rem
		.details, .icons
			margin-left: 0
		.profiles
			display: none


	&.newtask
		.profiles
			padding: 1em
		form
			width: 80%
			margin-left: 14%
			padding-left: 1em
			position: relative
			top: -1em
		input
			width: 80%
			margin-bottom: .5em
			&.text-button
				background: none
				border: none
				width: initial
				padding-left: 0
				padding-right: 0
				display: block



.loadcard
	background: lightgray
	color: gray
	text-align: center
	margin-bottom: 2em
	padding: 1em 2em
	border-radius: 5px











.task
	&.title
		position: relative
		padding-left: 4em
		margin-bottom: 2em
		.circle.profiles
			position: absolute
			left: 0
			div:nth-child(2)
				left: 0.6em
		h1
			margin-bottom: 0
	&.info
		line-height: 2.2em
	&.description
		.due
			color: $lightgray
		.delivered
			color: $blue






a.button.resolve
	position: relative
	padding-right: 3.5em
	&:after
		content: ''
		position: absolute
		display: inline-block
		width: 1.5em
		height: 1.5em
		background: $lightgray
		top: .8em
		right: 1em
		border: 2px solid white
		border-radius: $radius











//
//
// Modals

// body.active-modal
// 	overflow: hidden

.active-modal
	.overlay
		position: fixed
		background: rgba($oxford, .9)
		width: 100vw
		height: 100vh
		top: 0
		left: 0
		z-index: 200
		display: none

.modal
	z-index: 201
	padding: 1.4rem 2rem
	&.tooltip
		border-radius: $radius
	&#notifications,
	&#my-profile
		margin: 0
	&#notifications
		width: 40rem
	&#profile-stats .header
		padding-left: 3.4em
	&#profile-stats
		width: 24em
	&#solve-task
		.task.info
			font-size: 1.4rem
		.actions
			a.text-button
				float: initial
				margin-top: .9em
				display: inline-block
			a.resolve
				float: right
	textarea
		max-width: 100%
	input[type="file"]
		background: none
		padding: 1em 0
		border: none
	.header
		border-bottom: .2rem solid $lightgray
		padding-bottom: 1rem
		margin-bottom: 1em
		.circle.profiles
			position: absolute
			left: 2rem
	a.close
		position: absolute
		width: 1em
		height: 1em
		top: 1em
		right: 2rem
		&:before, &:after
			width: 100%
			content: ''
			border-top: .2rem solid $lightgray
			display: block
			transform: rotate(45deg)
			top: .5em
			left: 0
			position: absolute
		&:before
			transform: rotate(-45deg)
	h2
		margin-bottom: .25em
	.card
		padding: 1rem
		overflow: hidden
		small, .small
			font-size: 1.2rem
		.circle.profiles
			position: absolute
			left: 1rem
	.actions
		margin-top: 1em
		&.single
			text-align: center
		&.footer
			border-top: 0.2rem solid $lightgray
			padding: 1.4em 0 0
	.pending-confirm
		margin-bottom: 2em
	.stats
		text-align: center
		margin-bottom: 1em
	.stat
		width: 6em
		.number
			background: none
			color: $black
			line-height: 1em
			height: initial
			width: initial
		h4
			margin-top: 0
	form
		overflow: auto
		.profile.image
			width: 8em
			height: 8em
			display: block
			float: left
			margin-right: 1em
			overflow: hidden
			border-radius: 50%
			position: relative
			input, img
				width: 100%
				height: auto
		input[type="text"]
			width: 60%
			margin-bottom: 1em
		.profile.image input[type="file"]
			display: none
			position: absolute
			-webkit-appearance: none
			color: rgba(255, 255, 255, 0)
	&.create
		min-width: 86.0rem
		h3
			margin-bottom: .5em
		.container
			min-width: initial
			margin-top: 1em
			margin-bottom: 1em
		input[type="text"], textarea
			width: 100%
			margin-bottom: .5em
		.actions .text-button
			float: right

.activity.cards .card
	padding-left: 4em

.search.invite
	position: relative
	background: $whitegray
	border-radius: 5px
	&.active
		border: .1rem solid $lightgray
	input
		border: none
		background: none
		border-bottom: .1rem solid $lightgray
		border-radius: 0
	input[type="text"]
		margin-bottom: 1.2em
	button
		position: absolute
		top: 0
		right: 0
		background: none
		border: none
	.results.no-match
		text-align: center
		margin: .5em 0 1.75em
		a img
			border-radius: 50%
			vertical-align: middle
			position: relative
			left: -.5em
			width: 3em
			border: 1px dashed $gray


.wysiwyg.button-tray
	background: $lightgray
	display: inline-block
	border-radius: $radius
	letter-spacing: 0
	margin-bottom: .5em
	> a
		padding: .5em 1em
		display: inline-block
		border-right: .1rem solid white
		&:last-child
			border: none
		&.bold
			font-weight: bold
		&.italic
			font-style: oblique
